// N A V B A R
nav {
    height: 50px;
    border-bottom: .5px solid lightgray;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
    color: #555;
    justify-content: space-between;

    .search {
        display: flex;
        align-items: center;
        border: .5px solid lightgray;
        padding: 3px;

        .icon {
            cursor: pointer;
        }

        input {
            padding-left: 5px;
            border: none;
            outline: none;
            background-color: transparent;

            &::placeholder {
                font-size: 12px;
            }
        }
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 7px;
        height: 36px;
        width: 40px;
        position: relative;
        cursor: pointer;

        .bar {
            background-color: black;
            border-radius: 1px;
            height: 4px;
            position: absolute;
            width: 35px;

            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);

            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }

        .bar:nth-child(1) {
            margin-top: -20px;
        }

        .bar:nth-child(3) {
            margin-top: 20px;
        }  

        &.active .bar:nth-child(1) {
            margin-top: 0;

            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &.active .bar:nth-child(2) {
            background: transparent;
        }

        &.active .bar:nth-child(3) {
            transform: rotate(-45deg);
            margin-top: 0;
        }

        
    }
    
    .items {
        display: flex;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            margin-right: 20px;
            position: relative;

            .icon {
                font-size: 20px;
                cursor: pointer;
                transition: .5s ease-in-out;

                &:hover {
                    color: rgb(166, 162, 162);
                }
            }

            .user {
                cursor: pointer;
                width: 30px;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
            }

            .counter {
                width: 15px;
                aspect-ratio: 1 / 1;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                font-weight: bold;
                position: absolute;
                top: -5px;
                right: -5px;

            }
        }

        .language-item {
            display: none;
        }
        
        .search {
            display: none;
        }
    }
}

// S I D E B A R
.sidebar {
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    background-color: white;
    transition: all 500ms ease-in-out;
    position: fixed;
    height: 100%;
    z-index: 6000;
    top: 0;
    width: 70%;
    padding-left: 10px;
    left: -70%;

    &.open {
        left: 0;
    }

    &.closed {
        left: -70%;
    }

    .logo-href {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            position: relative;
            font-size: 1.4em;
    
            &::after {
                content: "";
                position: absolute;
                width: 30%;
                height: 100%;
                background-color: pink;
                top: 0;
                left: 0;
                z-index: -10;
            }
        }
    }

    hr {
        height: 0;
        border: .5px solid lightgray;
    }

    .center {
        padding-top: 20px;
        padding-left: 10px;

        ul {

            .title {
                font-size: 12px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &.active {
                    background-color: #ece8ff;
                }

                &:hover {
                    background-color: #ece8ff;
                }

                .icon {
                    font-size: 18px;
                    color: #7451f8;
                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;
        gap: 10px;

        .color-option {
            width: 30px;
            aspect-ratio: 1 / 1;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;

            &:nth-child(1) {
                background-color: whitesmoke;
            }
            
            &:nth-child(2) {
                background-color: #333;
            }
        }
    }
}

// W I D G E T
.widget {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, .47);
    border-radius: 10px;
    height: 100px;
    cursor: pointer;
    transition: .5s ease-in-out;

    &:hover {
        box-shadow: 1px 4px 10px rgba(0, 0, 0, .2);
    }

    .left, .right {
        display: flex;
        
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 15px;
            color: rgb(160, 160, 160);
        }

        .counter {
            font-size: 25px;
            font-weight: 300;
        }

        .link {
            font-size: 12px;
            border-bottom: 1px solid gray;
            width: max-content;
            color: inherit;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

        }

        .icon {
            font-size: 18px;
            padding: 5px;
            background-color: rgba(128, 0, 128, .541);
            border-radius: 15px;
            align-self: flex-end;
            display: flex;
        }

    
    }
}

// C H A R T
.chart {
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, .47);
    padding: 10px;
    color: gray;
    cursor: pointer;
    transition: .5s ease-in-out;

    &:hover {
        box-shadow: 1px 4px 10px rgba(0, 0, 0, .2);
    }

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    }

    .info {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        select {
            border: none;
            font-size: 1em;
            cursor: pointer;
            outline: none;
        }

        span {
            display: flex;
            align-items: center;
            transition: .3s ease-in-out;

            &:hover {
                background-color: lightgray;
                border-radius: 3px;
                padding: 2px 5px;
            }
        }
    }
}

// F E A T U R E D
.featured {
    flex: 2;
    padding: 10px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .5s ease-in-out;
    max-height: fit-content;

    &:hover {
        box-shadow: 1px 4px 10px rgba(0, 0, 0, .2);
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;

        h1 {
            font-size: 15px;
            font-weight: 500;
        }

        .icon {
            cursor: pointer;
            color: gray;
        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .featuredChart {
            width: 100px;
            aspect-ratio: 1 / 1;
        }

        .title {
            font-weight: 500;
            color: gray;
        }

        .amount {
            font-size: 30px;
        }


        .summary {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                text-align: center;

                .item-title {
                    font-size: 14px;
                    color: gray;
                }

                .item-result {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;

                    &.positive {
                        color: green;
                    }

                    &.negative {
                        color: red;
                    }
                }
            }
        }
    }
}

// T A B L E
.table {
    .cell-wrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Approved {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }
}

// D A T A T A B L E
.datatable {
    height: 500px;
    padding: 20px;

    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus {
        text-align: center;
        padding: 5px;
        border-radius: 5px;

        &.active {
            background-color: rgba(0, 128, 0, .05);
            color: green;
        }

        &.pending {
            background-color: rgba(255, 217, 0, .05);
            color: goldenrod;
        }

        &.passive {
            background-color: rgba(255, 0, 0, .05);
            color: crimson;
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 20px;
            color: darkblue;
            border: 1px dotted darkblue;
            border-radius: 5px;
        }

        .deleteButton {
            padding: 2px 20px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, .6);
            cursor: pointer;
        }
    }
}


// D A T E  R A N G E
.area-top-r {
    margin-top: 15px;
    .date-range-wrapper {
        display: inline-block;
        
        // .rdrDateDisplay {
        //   margin: 0;
        //   height: 40px;
        //   display: flex;
        //   align-items: center;
        //   border-radius: 5px;
        //   overflow: hidden;
        // }
    
        .rdrDateRangeWrapper {
            position: relative;
        }
      
        .rdrMonthAndYearWrapper {
            position: absolute;
            top: 100%;
            width: 100%;
            padding-top: 0;
            height: 40px;
            z-index: 1;
            background-color: white;
            border: 1px solid rgb(215, 213, 213);
            border-bottom: none;
        }
      
        .rdrMonth {
            padding: 0;
            z-index: 1;
        }
    
        .rdrWeekDays {
            background-color: white;
            position: absolute;
            top: calc(100% + 40px);
            left: 0;
            width: 100%;
            height: 32px;
            z-index: 1;
            border: 1px solid rgb(215, 213, 213);
            border-bottom: none;
            border-top: none;
        }
      
        .rdrDays {
            background-color: white;
            position: absolute;
            top: calc(100% + 40px + 32px);
            left: 0;
            width: 100%;
            z-index: 1;
            border: 1px solid rgb(215, 213, 213);
            border-top: none;
        }
    
        &.hide-date-range {
          .rdrMonthAndYearWrapper {
            display: none;
          }
          .rdrMonth {
            padding: 0;
          }
          .rdrWeekDays,
          .rdrDays {
            display: none;
          }
        }
    }
}


// B A R  C H A R T
.bar-chart {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, .47);
    padding: 16px 16px 6px 16px;
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:hover {
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, .8);
    }
  
    .bar-chart-wrapper {
      height: 240px;
    }
  
    .info {
        margin-bottom: 32px;

        .title {
            margin-bottom: 12px;
            font-size: 18px;
            font-weight: 700;
            color: rgb(101, 99, 99);
        }
    }
  
    .data {
        display: flex;
        align-items: center;
        column-gap: 16px;

        .value {
            font-size: 24px;
            font-weight: 700;
        }

        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 3px;
            color: red;
        }
    }
  
    .recharts-default-legend {
        position: absolute;
        top: -90px;
        right: 0;
    }
    .recharts-tooltip-label {
        color: var(--text-color-inverted);
        font-size: 14px;
        font-weight: 600;
    }
}

// P R O G R E S S  C H A R T
.progress-bar {
    padding: 16px;
    flex-grow: 1;
    box-shadow: var(--light-shadow1);
    cursor: pointer;
    box-shadow: 1px 4px 10px rgb(232, 229, 229);
    transition: 0.4s ease-in-out;

    &:hover {
        box-shadow: 1px 4px 10px rgba(0, 0, 0, .2);
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 6px;
      margin-bottom: 8px;

      .title {
        font-size: 20px;
        font-weight: 700;
        color: var(--text-color-inverted);
        margin-bottom: 16px;
      }
  
      .info-name, .info-value {
        color: var(--text-color-inverted);
        font-weight: 600;
      }
    }

    .list {
        display: grid;
        row-gap: 20px;
    }
  
    .bar-item-full {
        width: 100%;
        height: 17px;
        border-radius: 100vh;
        background-color: rgb(197, 144, 197);
        position: relative;
    }
  
    .bar-item-filled {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 100vh;
        background-color: rgb(105, 50, 113);
    }
}